<p>one-page-works! (OnPush)</p>

<a href="#" [ngStyle] = "{'font-weight': streamMode?'bold':'normal'}" (click)="setStreamMode($event, true)">  Stream mode</a>
<a href="#" [ngStyle] = "{'font-weight': streamMode?'normal':'bold'}" (click)="setStreamMode($event, false)">  Simple mode</a>
<ng-container *ngIf="streamMode; else simpleMode">
  <ng-container *ngIf="buttonText$ | async as textObj">
    <button (click) = "clickTestButton()">{{textObj.text}}</button>
    <button (click)="changeTextButton()">Change button text</button>
    <app-test1 [buttonText] = "buttonText"></app-test1>
  </ng-container>
</ng-container>

<ng-template #simpleMode>
  <button (click) = "clickTestButton()">{{buttonText.text}}</button>
  <button (click)="changeTextButton()">Change button text</button>
  <app-test1 [buttonText] = "buttonText"></app-test1>
</ng-template>


